/* define custom properties */
html{
    scroll-behavior: smooth;
}

body{
    color: var(--text-color);
}
 
a{
    color: var(--text-color);
}

.visually-hidden{
    display: none;
}

.card-category{
    color: var(--color-primary);
}

.section-tangle{
    color: var(--color-primary);
}

:root{
    --color-primary: #D73953;
    --color-balck: #090909;
    --color-white: #FFFFFF;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-balck);

}